body{
    background-color: silver;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;

}

.main{
    flex-grow: 1;
}

.slider{
    padding: 5rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__window{
    width: 50%;
    /*height: 70rem;*/
    overflow: hidden;
    border: 0.5rem solid black;
    border-radius: 10%;
}

.slider__track{
    width: 500%;
    height: 100%;
    display: flex;
    /*column-gap: 30px;*/
}

.slide{
    width: 20%;
    transition: all 600ms ease;
}

.slide__img{
    width: 100%;
    height: 100%;
}

.subslider{
    padding: 5rem 0 0 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.control{
    cursor: pointer;
    margin: 0 0.3rem;
}

.control:hover{
  transform: scale(110%);
}


.slider__track.active {
    margin-left: 0;
}

#control1:checked ~ .slider__track .active{
    margin-left: 0;
}

#control2:checked ~ .slide .active{
    margin-left: -100%;
}

#control3:checked ~ .slider__track .active{
    margin-left: -200%;
}

#control4:checked ~ .slider__track .active{
    margin-left: -300%;
}

#control5:checked ~ .slider__track .active{
    margin-left: -400%;
}
